// List of colors obtained from AdminLTE.js
$lightBlue: #3C8DBC;
$red: #F12C0E;
$green: #00A65A;
$aqua: #00C0EF;
$yellow: #F39C12;
$blue: #0073b7;
$navy: #001F3F;
$teal: #39CCCC;
$olive: #3D9970;
$lime: #01FF70;
$orange: #FF851B;
$fuchsia: #F012BE;
$purple: #8E24AA;
$maroon: #D81B60;
$black: #222222;
$gray: #D2D6DE;
